<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>FB OAuth</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <div class="container">
        <h1>SNS API</h1>
        <button id="fbConnectBtn">Facebook Connect</button>
        <p id="statusMessage"></p>
        
        <button id="fetchFbProfileBtn" style="display:none;">Retrive FB profile</button>
        <pre id="fbProfileOutput"></pre>

        <button id="fetchFbPagesBtn" style="display:none;">Retrive FB pages</button>
        <pre id="fbPagesOutput"></pre>
    </div>
    <script src="/static/script.js"></script>
</body>
</html>
